/* ! media queries for forgetpassword component */

.forgetPasswordWrapper{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.forgetPasswordHeading{
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 28px;

}

.forgetPasswordPara{
  color: #000000B2;
  text-align: center;
  opacity: 0.8;
  font-size: 14px;

}

.forgetPasswordForm{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.forgetPasswordInput{
  font-size: 14px;
  width: 90%;
  height: 40px;
  border: 1px solid #00000066;
  padding-left: 16px;
  border-radius: 10px;
  color: black;
}

input::placeholder {
 color: black;
 opacity: 70%;
}

.forgetPasswordButtonWrapper{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.continueButton{
  background-color: #AD2F3B;
  max-width: 312px;
   width: 80% ;
   margin: 0 auto;
   color: white;
   padding: 10px;
   border-radius: 15px;
   border: none;
}

.cancelButton{
  margin: 0 auto;
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

@media (min-width:1024px) {
  .continueButton{
    width: 312px;
  }
}



@media (max-width:470px) {
  .forgetPasswordHeading{
    font-size: 20px;
  }

  .continueButton{
    width: 200px;
    padding: 8px;
  }

  .forgetPasswordPara{
    font-size: 12px;
  }

}

@media (max-width:350px) {


  .continueButton{
    width: 150px;
    pad: 5px;
  }
}

