/* ! media queries for verification code */

.resetPasswordWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordHeading{
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.resetPasswordPara{
  color: #000000B2;
  text-align: center;
  opacity: 0.8;
  font-size: 14px;
}

.resetPasswordForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  gap: 20px;
}

.resetPasswordInput{
  font-size: 14px;
  width: 90%;
  height: 40px;
  border: 1px solid #00000066;
  padding-left: 16px;
  border-radius: 10px;
  color: black;
}

input::placeholder {
  color: black;
  opacity: 70%;
}

.resetPasswordButtonWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.continueButton{
  background-color: #AD2F3B;
  max-width: 312px;
  width: 80%;
  margin: 0 auto;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.ResetPasswordcancelButton{
  margin: 0 auto;
  color: black;
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-size: 18px;
 

}





@media (min-width:1024px) {
  .resetPasswordInput{
    width: 380px;
  }
}

@media (max-width:470px) {
  .resetPasswordHeading{
    font-size: 20px;
  }

  .continueButton{
    width: 200px;
    padding: 8px;
  }

  .resetPasswordPara{
    font-size: 14px;
  }

}

@media (max-width:350px) {


  .continueButton{
    width: 150px;
    pad: 5px;
  }
}

