.live-user-btn-circle{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--white-color);
    color: black;
    justify-content: space-between;
    padding: 5px;
    
}
.live-user-btn-circle p,h6{
    padding: 0;
    margin: 0;
    font-size: var(--fs-12);
    font-weight: (--fw-400);
}
.live-user-btn-circle p{
    font-weight:var(--fw-500);
}

.live-user-btn-circle h6{
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.live-user-btn-circle img{
    width: 20px;
    height: 20px;
}

