
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body{
  overflow-x: hidden;
  
}
#hidden{
  display: none;
}
/* #date{
  width: 238%;
} */
.date_picker{
  width: 100%;
}
.Profile_Page {
  min-height: 100vh;
  margin: 0  ;
  align-items: center;
  justify-content: center;
}

.Profile_navbarbutton {
  visibility: hidden;
}
.css-3w2yfm-ValueContainer {
  overflow-y: scroll !important;
  height: 50px;
}
.profileImg{
position: relative;
padding: 0;
width: 240px;
height:240px;
  display: flex;
  justify-content: center;
  align-items: center;

border-radius: 50%;

}


.performance_table td textarea {
  resize: none;
  width: 100%;
  border: none;
  padding: 5px;
}

.production-table-actions button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}



.progressBar{
  border-radius: 50%;
  width: 35px;height: 35px;
  background-color: #AD2F3B;
  position: absolute;
  left: 0;top: 0;right: 0;bottom: 0;
  margin: auto;
  overflow: hidden;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:12px;
  /* transform: translate(115px); */
}

.Profile_navbarbutton button{
  border: none;
  background-color: white;
  text-align: left;
  margin: 10px;
  cursor: pointer;
  border: 0px solid black;
  padding: 10px;
  border-radius: 10px;
}

.Profile_navbarbutton button.active{
  background-color: #ad2f3b;
  color: white;
}

.BasicProfile_ProfileSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.chiku-ProfileSection{
  width: 100vw;
  height: 70rem;
  display: grid;
  grid-template-columns:1fr;
}
.profile-left{
  width: 100%;
  height: 100%;
   display: grid;
   grid-template-columns: 1fr 4fr;
  gap: 3rem;

  padding: 2rem;
}
.profile-right{
  width: 100%;
  height: 100%;
}


.BasicProfile_AccSet {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 341px;
  height: 396px;
}

/* .BasicProfile_AccSet h1 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  margin-top: 22px;
  text-align: center;
}

.BasicProfile_AccSet button {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-top: 10px;
  background-color: white;
  text-align: left;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  padding: 0px 20px;
} */

.BasicProfile_AccSet h1 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    margin-top: 22px;
    text-align: center; 
}

.BasicProfile_AccSet button {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-top: 10px;
    background-color: white;
    text-align: left;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: 0px 20px;
    display: flex; 
    align-items: center; 
    gap: 15px; 
}

.BasicProfile_AccSet button.active {
  background-color: #ad2f3b;
  color: white;
}

.BasicProfile_AccSet button.active svg {
  fill: white  ;
}


/* Buttons ko side-by-side align karne wala container */
.avatar-buttons-container {
  display: flex;
  flex-direction: row;  
  align-items: center;  
  gap: 15px;            
}

.BasicProfile_avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BasicProfile_avatar img {
  width: 219px;
  height: 219px;
  border-radius: 200px;
  background-position:center; 
  /* background-repeat: no-repeat; */
  background-size:contain; 
  stroke-width: 10px;
  stroke: rgba(0, 0, 0, 0.01);
}

.BasicProfile_removeavatar {
  border: none;
  background: white;
  margin-top: 24px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.BasicProfile_editavatar {
  background: #ad2f3b;
  display: flex;
  width: 250px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  margin-top:10px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BasicProfile_name p {
  text-align: left;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BasicProfile_name p b {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: -0px;
  margin-top: -30px;
}

.BasicProfile_Infoform,
.ArtProfile_Infoform,
.PerformanceProfile_Infoform,
.AwardProfile_Infoform,
.ExpectedoppoProfile_Infoform {
  width: 999px;
  height: auto;
  padding: 0px 32px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.12);
  float: right;
  margin-top: 0px;
  margin-right: 50px;
  text-align: left;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.BasicProfile_PersonalINfo,
.ArtProfile_ArtInfo,
.ArtProfile_Traditional,
.ArtProfile_Professional,
.ArtProfile_Certificate,
.PerformanceProfile_PerformInfo,
.AwardProfile_AwardInfo,
.AwardProfile_Awarddetials,
.ExpectedoppoProfile_Expectedoppo,
.ExpectedoppoProfile_Needsupport {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0px   ;
}

.BasicProfile_PersonalINfo input[type="date"] {
  width: 169px;
  height: 60px;
}
#date1{
  width:100%;
    height: 60px;
}
.BasicProfile_Infoform form h4,
.ArtProfile_Infoform form h4,
.PerformanceProfile_Infoform form h4,
.AwardProfile_Infoform form h4,
.ExpectedoppoProfile_Infoform form h4 {
  margin-top: 32px;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.BasicProfile_Infoform form label,
.ArtProfile_Infoform form label,
.PerformanceProfile_Infoform form label,
.AwardProfile_Infoform form label,
.ExpectedoppoProfile_Infoform form label {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BasicProfile_Infoform form input,
.ArtProfile_Infoform form input,
.PerformanceProfile_Infoform form input,
.AwardProfile_Infoform form input,
.ExpectedoppoProfile_Infoform form input {
  padding: 20px;
  width: 440px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.ArtProfile_Infoform select,
.PerformanceProfile_Infoform select,
.AwardProfile_Infoform select,

.ExpectedoppoProfile_Infoform select {
  padding: 10px;
  background-color: white;
  color: black;
  width: 440px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.input{
  padding: 20px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content:end ;
  
}

.BasicProfile_inputfield{
  width: min(300px,100%);
  position: relative;
}
.BasicProfile_inputfield select {
  padding: 10px;
  background-color: white;
  color: black;
  max-width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.BasicProfile_inputfield-2 select{
    padding: 10px;
      background-color: white;
      color: black;
      max-width: 100%;
      height: 60px;
      overflow-wrap: break-word;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.4);
}

.BasicProfile_inputfield img{
  position: absolute;
  top: 45px;
  right: 0px;
}

.BasicProfile_inputfield{
  width: 30%;
}
.BasicProfile_Infoform form .gender {
  width: 440px;
  height: 70px;
}
.BasicProfile_Infoform form .Genderinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.BasicProfile_Infoform form .Genderinfo label input {
  height: initial  ;
}

.BasicProfile_Infoform form input[type="radio"] {
  height: 20px;
  width: 20px;
}

.BasicProfile_Address {
  display: flex;
  flex-direction: column;
}
.possso{
  position: absolute;
  top: 50%;
  right: 10px;
}

.BasicProfile_Addressshort {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 36px;
}

.BasicProfile_Addressshort select {
  padding: 10px;
  background-color: white;
  color: black;
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.BasicProfile_Addressshort input[type="text"] {
  width: 270px;
  height: 60px;
}

.BasicProfile_Addressshort input[type="number"] {
  width: 270px;
  height: 60px;
}

.BasicProfile_Addresslong input {
  width: 935px  ;
  height: 136px  ;
}

.BasicProfile_OtherDetails,
.BasicProfile_Social {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.age_basics{
  gap: 25px;

  justify-content: space-between;
  display: flex;
  /* flex-direction: column; */
  width: 100%;
}
.BasicProfile_inputfield,
.ArtProfile_inputfield,
.PerformanceProfile_inputfield,
.AwardProfile_inputfield,
.ExpectedoppoProfile_inputfield {
  margin-top: 28px;
}

.ArtProfile_Infoform form .artedu {
  width: 600px;
  height: 70px;
}

.ArtProfile_Infoform form .Arteduinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ArtProfile_Infoform form .Arteduinfo label input {
  height: initial  ;
}

.ArtProfile_Infoform form input[type="radio"] {
  height: 20px;
  width: 20px;
}

.Artprofile_duration {
  display: flex;
  width: 240px;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.Artprofile_duration input {
  width: 112px  ;
  height: 60px  ;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.Artprofile_duration input::placeholder {
  color: black  ;
}

.PerformanceProfile_Infoform form .affiliatedgrp {
  width: 440px;
  height: 70px;
}

.PerformanceProfile_Infoform form .affiliatedgrpinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 150px;
  height: 100%;
}

.PerformanceProfile_Infoform form .affiliatedgrpinfo label input {
  height: initial  ;
}

.PerformanceProfile_Infoform form input[type="radio"] {
  height: 20px;
  width: 20px;
}

.performancefilebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.performancefilebox input[type="file"] {
  width: 172px;
  display: none;
}

.performancefileboxtext {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fileinput_uploadfile {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  height: 47px;
  width: 172px;
  border-radius: 10px;
}
.performance_responsive{
  background-color: "red";
}

.AwardProfile_Addmorebtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 28px;
  justify-content: space-between;
}

.AwardProfile_Addmorebtn p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.AwardProfile_Addmorebtn button {
  border: none;
  background-color: white;
}

.updateBtn{
  background-color: #AD2F3B;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 180px;
  height: 50px;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
}

@media (max-width: 1025px) {
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    float: none;
    margin: 15px  ;
    margin-top: 30px  ;
    border:2px solid red;
  }
  .BasicProfile_Infoform{
    width: 100%;
  }
}

@media (max-width: 800px) {

  /* Art Lover ( Abhishek Write this Code ) */
  /* Abhishek Start */
  .BasicProfile_AccSet {
    display: block;
    grid-row: 1/-1;
    width: 300px;
    height: 363px;

  }
  
  
  .BasicProfile_ProfileSection{
    display: grid;
    padding: 50px 50px;
    place-items: center;
    gap: 30px;

  }
  .BasicProfile_AccSet button{
    margin-top: 0;
    font-size: 18px;
    height: 60px;
  }
  .BasicProfile_Addressshort{
    flex-direction: column;
    width: 100%;
  }
  .BasicProfile_Addressshort select{
    width: 100%;
  }
  .BasicProfile_Addressshort input[type="text"]{
    width: 100%;
  }
  .BasicProfile_Addressshort input[type="number"]{
    width: 100%;
  }
  .BasicProfile_AccSet h1{
    font-size: 28px;
    margin: 25px;

  }
  /* Abhishek End */

  .Profile_navbarbutton {
    visibility: visible;
  }
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    float: none;
    width: 100%;
    margin: 20px  ;
    margin-top: 30px  ;
    padding: 0px 20px 20px 20px  ;
  }

  .BasicProfile_Addresslong input {
    width: 100%  ;
    height: 136px  ;
  }
}

  /* Art Lover ( Abhishek Write this Code ) */
  /* Abhishek Start */
  @media(max-width:650px){
    .BasicProfile_AccSet {
      display: block;
      grid-row: 1/-1;
      width: 300px;
    height: 363px;
    }
    .ExpectedoppoProfile_Infoform{
      width: 100%;
    }
  }
  /* Abhishek End */

@media (max-width: 430px) {


  .BasicProfile_ProfileSection{
    padding: 50px;

  }
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    float: none;
    width: 400px;
    margin: 10px ;
    padding: 0px 20px 20px 20px ;
  }

  .ArtProfile_Infoform select,
  .PerformanceProfile_Infoform select,
  .AwardProfile_Infoform select,
  .ExpectedoppoProfile_Infoform select {
    width: 350px;
  }

  .BasicProfile_Addresslong input {
    width: 100%  ;
    height: 136px  ;
  }

  .BasicProfile_Infoform form input,
  .ArtProfile_Infoform form input,
  .PerformanceProfile_Infoform form input,
  .AwardProfile_Infoform form input,
  .ExpectedoppoProfile_Infoform form input {
    padding: 20px;
    width: 350px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  .BasicProfile_Addressshort {
    flex-direction: column;
  }
  .BasicProfile_name {
    margin-top: 40px;
  }
}

@media (max-width: 380px) {
  .BasicProfile_ProfileSection{
    padding: 20px;
  }
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    width: 360px;
    margin: 7px ;
    margin-top: 30px ;
    padding: 0px 20px 20px 20px ;
  }

  .BasicProfile_Infoform form input,
  .ArtProfile_Infoform form input,
  .PerformanceProfile_Infoform form input,
  .AwardProfile_Infoform form input,
  .ExpectedoppoProfile_Infoform form input {
    padding: 10px;
    width: 330px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  .ArtProfile_Infoform select,
  .PerformanceProfile_Infoform select,
  .AwardProfile_Infoform select,
  .ExpectedoppoProfile_Infoform select {
    /* width: 330px; */
    width: 100%;
  }
}

 /* Art Lover ( Abhishek Write this Code ) */
  /* Abhishek Start */
@media(max-width:332px){
  .BasicProfile_ProfileSection{
    padding: 10px;

  }
}
    /* Abhishek End */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body{
  overflow-x: hidden;
}

.Profile_Page {
  min-height: 100vh;
  margin: 0  ;
  align-items: center;
  justify-content: center;
}

.Profile_navbarbutton {
  visibility: hidden;
}


.Profile_navbarbutton button{
  border: none;
  background-color: white;
  text-align: left;
  margin: 10px;
  cursor: pointer;
  border: 0px solid black;
  padding: 10px;
  border-radius: 10px;
}

.Profile_navbarbutton button.active{
  background-color: #ad2f3b;
  color: white;
}

.BasicProfile_ProfileSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

/* .BasicProfile_AccSet {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 341px;
  height: 460px;
} */

.BasicProfile_AccSet h1 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  margin-top: 22px;
  text-align: center;
}

.BasicProfile_AccSet button {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-top: 10px;
  background-color: white;
  text-align: left;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  padding: 0px 20px;
}

.BasicProfile_AccSet button.active {
  background-color: #ad2f3b;
  color: white;
}

.BasicProfile_AccSet button.active svg {
  fill: white  ;
}

.BasicProfile_avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BasicProfile_avatar img {
  width: 219px;
  height: 219px;
  border-radius: 200px;
  background-position:center; 
  /* background-repeat: no-repeat; */
  background-size:contain; 
}

/* "Remove Avatar" button ko "Upload" jaisa banayein */
.BasicProfile_removeavatar {
   background: #ad2f3b;
  display: flex;
  width: 150px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  margin-top:10px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} /* Hover effect ke liye */


/* Optional: Hover effect bhi add kar dein */
.BasicProfile_removeavatar:hover {
    background-color: #932731; /* Hover par thoda dark shade */
}


.BasicProfile_editavatar {
  background: #ad2f3b;
  display: flex;
  width: 250px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  margin-top:10px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BasicProfile_name p {
  text-align: left;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BasicProfile_name p b {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: -0px;
  margin-top: -30px;
}

.BasicProfile_Infoform,
.ArtProfile_Infoform,
.PerformanceProfile_Infoform,
.AwardProfile_Infoform,
.ExpectedoppoProfile_Infoform {
  width: 75%;
  height: auto;
  padding: 0px 32px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.12);
  float: right;
  margin-top: 0px;
  margin-right: 50px;
  text-align: left;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.BasicProfile_PersonalINfo,
.ArtProfile_ArtInfo,
.ArtProfile_Traditional,
.ArtProfile_Professional,
.ArtProfile_Certificate,
.PerformanceProfile_PerformInfo,
.AwardProfile_AwardInfo,
.AwardProfile_Awarddetials,
.ExpectedoppoProfile_Expectedoppo,
.ExpectedoppoProfile_Needsupport {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0px   ;
}

.BasicProfile_PersonalINfo input[type="date"] {
  width: 169px;
  height: 60px;
}

.BasicProfile_Infoform form h4,
.ArtProfile_Infoform form h4,
.PerformanceProfile_Infoform form h4,
.AwardProfile_Infoform form h4,
.ExpectedoppoProfile_Infoform form h4 {
  margin-top: 32px;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.BasicProfile_Infoform form label,
.ArtProfile_Infoform form label,
.PerformanceProfile_Infoform form label,
.AwardProfile_Infoform form label,
.ExpectedoppoProfile_Infoform form label {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BasicProfile_Infoform form input,
.ArtProfile_Infoform form input,
.PerformanceProfile_Infoform form input,
.AwardProfile_Infoform form input,
.ExpectedoppoProfile_Infoform form input {
  padding: 20px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.ArtProfile_Infoform select{
  width: 100%;
}
/* .ArtProfile_Infoform select, */
.PerformanceProfile_Infoform select,
/* .AwardProfile_Infoform select, */
.ExpectedoppoProfile_Infoform select {
  padding: 10px;
  background-color: white;
  color: black;
  width: 575px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.red{
  color: red;
}
table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table{
  width: 100%;
}
#upload{
  width: 100%;
  text-align: right;
}

.BasicProfile_Infoform form .gender {
  /* width: 575px; */
  width: 45%;
  height: 70px;
}
.BasicProfile_Infoform form .Genderinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.BasicProfile_Infoform form .Genderinfo label input {
  height: initial  ;
}

.BasicProfile_Infoform form input[type="radio"] {
  height: 20px;
  width: 20px;
}

.BasicProfile_Address {
  display: flex;
  flex-direction: column;
}

.BasicProfile_Addressshort {
  display: flex;
  /* flex-direction: row-reverse; */
  width: 100%;
}

.BasicProfile_Addressshort select {
  padding: 10px;
  background-color: white;
  color: black;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.BasicProfile_Addressshort input[type="text"] {
  width:270px;
  height: 60px;
}

.BasicProfile_Addressshort input[type="number"] {
  width: 270px;
  height: 60px;
}

.BasicProfile_Addresslong input {
  width: 935px  ;
  height: 136px  ;
}

.BasicProfile_OtherDetails,
.BasicProfile_Social {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.BasicProfile_inputfield,
.ArtProfile_inputfield,
.PerformanceProfile_inputfield,
.AwardProfile_inputfield,
.ExpectedoppoProfile_inputfield {
  margin-top: 28px;
  width:48%;
}

.ArtProfile_Infoform form .artedu {
  width: 600px;
  height: 70px;
}

.ArtProfile_Infoform form .Arteduinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ArtProfile_Infoform form .Arteduinfo label input {
  height: initial  ;
}

.ArtProfile_Infoform form input[type="radio"] {
  height: 20px;
  width: 20px;
}

.Artprofile_duration {
  display: flex;
  width: 240px;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.Artprofile_duration input {
  width: 112px  ;
  height: 60px  ;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.Artprofile_duration input::placeholder {
  color: black  ;
}

.PerformanceProfile_Infoform form .affiliatedgrp {
  width: 440px;
  height: 70px;
}

.PerformanceProfile_Infoform form .affiliatedgrpinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 150px;
  height: 100%;
}

.PerformanceProfile_Infoform form .affiliatedgrpinfo label input {
  height: initial  ;
}

.PerformanceProfile_Infoform form input[type="radio"] {
  height: 20px;
  width: 20px;
}

.performancefilebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.performancefilebox input[type="file"] {
  width: 172px;
  display: none;
}

.performancefileboxtext {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fileinput_uploadfile {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  height: 47px;
  width: 172px;
  border-radius: 10px;
}

.AwardProfile_Addmorebtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 28px;
  justify-content: space-between;
}

.AwardProfile_Addmorebtn p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.AwardProfile_Addmorebtn button {
  border: none;
  background-color: white;
}

.updateBtn{
  background-color: #AD2F3B;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 180px;
  height: 50px;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
}


@media(max-width:1383px){
  .BasicProfile_AccSet{
    width: 300px;
    height: 363px;
  }
  .BasicProfile_AccSet button{
    font-size: 1rem;
  }
}
@media (max-width: 1025px) {
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    float: none;
    margin: 15px  ;
    margin-top: 30px  ;
  }
  .BasicProfile_AccSet button{
    font-size: 1rem;
  }
  .BasicProfile_Infoform{
    width: 95%;
  }
 
}



@media (max-width: 800px) {

  /* Art Lover ( Abhishek Write this Code ) */
  /* Abhishek Start */
  .BasicProfile_AccSet {
    display: block;
    width: 230px;
    height: 400px;
  }
  
  
  .BasicProfile_ProfileSection{
    display: grid;
    padding: 50px 50px;
    place-items: center;
    gap: 30px;

  }
  .BasicProfile_AccSet button{
    margin-top: 0;
    font-size: 18px;
    height: 60px;
  }
  .BasicProfile_Addressshort{
    flex-direction: row;
    width: 100%;
  }
  .BasicProfile_Addressshort select{
    width: 100%;
  }
  .BasicProfile_Addressshort input[type="text"]{
    width: 100%;
  }
  .BasicProfile_Addressshort input[type="number"]{
    width: 100%;
  }
  .BasicProfile_AccSet h1{
    font-size: 28px;
    /* margin: 25px; */

  }
  /* Abhishek End */

  .Profile_navbarbutton {
    visibility: visible;
  }
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    float: none;
    width: 100%;
    margin: 20px  ;
    margin-top: 30px  ;
    padding: 0px 20px 20px 20px  ;
  }

  .BasicProfile_Addresslong input {
    width: 100%  ;
    height: 136px  ;
  }
  .BasicProfile_inputfield{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .BasicProfile_Address{
    width: 100%;
    margin-top: 10px;
  }
  
}

  /* Art Lover ( Abhishek Write this Code ) */
  /* Abhishek Start */
  @media(max-width:650px){
    .chiku-ProfileSection{
      grid-template-columns: 1fr;
    }
   
    .ExpectedoppoProfile_Infoform{
      width: 100%;
    }
    .BasicProfile_inputfield{
      width: 100%;
      margin-top: 10px;
    }
    .arttProfile_inputfield{
      width:100%;
    }
    .profile-left{
      width: 100%;
    }
    .BasicProfile_avatar{
      width: 100%;
    }
    
    
.performance_profile{
  width: 150%;
}
.posss{
  position: absolute;
  top: 60%;
  right: 10px;
}
    
    
  }
  .Artprofile_duration{
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  /* Abhishek End */

@media (max-width: 430px) {


  .BasicProfile_ProfileSection{
    padding: 50px;

  }
  .possso{
    right: 0px !important;
  }
  .age_basics{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    float: none;
    width: 95%;
    margin: auto ;
    margin-top: 30px  ;
    padding: 0px 20px 20px 20px  ;
  }

  /* .ArtProfile_Infoform select,
  .PerformanceProfile_Infoform select,
  .AwardProfile_Infoform select,
  .ExpectedoppoProfile_Infoform select {
    width: 350px;
  } */

  .BasicProfile_Addresslong input {
    width: 100%  ;
    height: 136px  ;
  }

  .BasicProfile_Infoform form input,
  .ArtProfile_Infoform form input,
  .PerformanceProfile_Infoform form input,
  .AwardProfile_Infoform form input,
  .ExpectedoppoProfile_Infoform form input {
    padding: 20px;
    /* width: 350px; */
    height: 60px;
    background: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  .BasicProfile_Addressshort {
    flex-direction: column;
    gap: 0px;
  }
  .BasicProfile_name {
    margin-top: 40px;
  }
  .BasicProfile_inputfield{
    width: 100%;
  }
  .artProfile_inputfield{
    width: 100%;
  }
  .BasicProfile_Infoform form .gender{
width: 100%;
  }
}



@media (max-width: 380px) {
  .BasicProfile_ProfileSection{
    padding: 20px;
  }
  .BasicProfile_Infoform,
  .ArtProfile_Infoform,
  .PerformanceProfile_Infoform,
  .AwardProfile_Infoform,
  .ExpectedoppoProfile_Infoform {
    /* width: 360px; */
    width:100%;
    margin: 7px  ;
    margin-top: 30px  ;
    padding: 0px 20px 20px 20px  ;
  }

  .BasicProfile_Infoform form input,
  .ArtProfile_Infoform form input,
  .PerformanceProfile_Infoform form input,
  .AwardProfile_Infoform form input,
  .ExpectedoppoProfile_Infoform form input {
    padding: 10px;
    /* width: 330px; */
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  .ArtProfile_Infoform select,
  .PerformanceProfile_Infoform select,
  .AwardProfile_Infoform select,
  .ExpectedoppoProfile_Infoform select {
    /* width: 330px; */
  }
  .BasicProfile_inputfield{
    width: 100%;
  }
}

 /* Art Lover ( Abhishek Write this Code ) */
  /* Abhishek Start */
@media(max-width:332px){
  .BasicProfile_ProfileSection{
    padding: 10px;

  }
}
    /* Abhishek End */

@media(max-width:332px){
  
}


.performance_table th{
  /* background-color: red; */
  padding: 10px;
  border-right: 1px solid black;
}
/* .performance_table{
  background-color: red;
} */
.performance_table td input{
  padding:0 10px;
  height: 50px;
  border: none;
  border-radius: 0;
}


.css-13cymwt-control{
  background-color: white;
  color: black;
  width: 100%;
  height: 60px;
  border-radius: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}

.css-1fdsijx-ValueContainer{
  height: 60px;
}

.css-1u9des2-indicatorSeparator{
  height: 44px;
}


td input {
  padding: none;
  height: 100%;
  border: none;
}

.thumbnail-cc{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}
.thumbnail-cc img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.iqooo{
  display: none;
}

/*aditya*/
@media(max-width:650px){
  .profile-left{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .BasicProfile_AccSet{
    width: 100%;
    height: auto;
  }
  .PerformanceProfile_Infoform select{
    width: 100%;
  }
  .BasicProfile_avatar{
    width: 100%;
    height: auto;
  }
  .BasicProfile_inputfield #date{
    width: 100%;
  }
  
  .PerformanceProfile_Traditional {
    width: 100%;
    overflow-x:scroll ;
    /* min-width: max-content; */
  }
  .ArtProfile_inputfield{
    width: 100%;
  }
  .ArtProfile_ArtInfo{
    flex-direction: row;
  }
  .ArtProfile_Traditional{
    width: 100%;
    overflow-x: scroll !important;
  }
  select[name="artEducation"] {
    /* Add your styles for the select element here */
    width: 100%; /* Example width */

  }
  select[name="artEducation"] option {
   width: 100%;
  }


}
/*sharad*/
.add-icon {
  /* background-color: #AD2F3B; */
  border-radius: 50%;
  margin-left: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  /* color: white; */
  display: none; 
}

.award_form {
  display: none; 
}


.another_mobile_div{
  
  font-size: 18px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #AD2F3B;
  font-weight: 500;


}
@media only screen and (max-width: 600px) {
  .desktop {
    display: none; 
  }

  .mobile {
    display: block; 
  }

  .add-icon.mobile {
    display: block; 
    margin-top: 20px;
  }

  .award_form.mobile.show {
    display: block;
    width: 100%;
  }

  .award_form.mobile.hide {
    display: none;
  }

  .award_plus_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}