.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Reset background and filters for everything when modal is open */
body.modal-open,
body.modal-open * {
  /* background: none !important; */
  filter: none !important;
  /* backdrop-filter: none !important; */
  opacity: 1 !important;
}

/* In your global CSS */

.scaled-text {
  font-size: clamp(0.75rem, 1vw + 0.3rem, 1.1rem);
}

.scaled-btn {
  font-size: clamp(0.75rem, 1vw + 0.3rem, 1.1rem);
  padding: clamp(0.4rem, 0.8vw, 0.75rem) clamp(1rem, 1.5vw, 1.75rem);
  border-radius: 9999px;
  width: clamp(8rem, 20vw, 12rem);
  height: clamp(2.2rem, 2.8vw, 3.125rem);
}